<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>xspf2podcast</servlet-name>
        <servlet-class>info.xonix.Xspf2PodcastServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>any2podcast</servlet-name>
        <servlet-class>info.xonix.Any2PodcastServlet</servlet-class>
    </servlet>
<!--
    <servlet>
        <servlet-name>vk2podcast</servlet-name>
        <servlet-class>info.xonix.Vk2PodcastServlet</servlet-class>
    </servlet>
-->
    <servlet-mapping>
        <servlet-name>xspf2podcast</servlet-name>
        <url-pattern>/xspf2podcast</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>any2podcast</servlet-name>
        <url-pattern>/any2podcast</url-pattern>
    </servlet-mapping>
<!--
    <servlet-mapping>
        <servlet-name>vk2podcast</servlet-name>
        <url-pattern>/vk2podcast</url-pattern>
    </servlet-mapping>
-->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
